<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="HandheldFriendly" content="true" />
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="css/segstory.css" />
  <script src="js/angular.js"></script> 
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/segstory.js" defer></script>
</head>
<body ng-app="segstory" ng-controller="Main">
<!-- Header -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" width="20" height="20" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAA81BMVEX///9VPnxWPXxWPXxWPXxWPXxWPXxWPXz///9hSYT6+vuFc6BXPn37+vz8+/z9/f2LeqWMe6aOfqiTg6uXiK5bQ4BZQX9iS4VdRYFdRYJfSINuWI5vWY9xXJF0YJR3Y5Z4ZZd5ZZd6Z5h9apq0qcW1qsW1q8a6sMqpnLyrn76tocCvpMGwpMJoUoprVYxeRoJjS4abjLGilLemmbrDutDFvdLPx9nX0eDa1OLb1uPd1+Td2OXe2eXh3Ofj3+nk4Orl4evp5u7u7PLv7fPx7/T08vb08/f19Pf29Pj39vn6+fuEcZ9YP35aQn/8/P1ZQH5fR4PINAOdAAAAB3RSTlMAIWWOw/P002ipnAAAAPhJREFUeF6NldWOhEAUBRvtRsfdfd3d3e3/v2ZPmGSWZNPDqScqqaSBSy4CGJbtSi2ubRkiwXRkBo6ZdJIApeEwoWMIS1JYwuZCW7hc6ApJkgrr+T/eW1V9uKXS5I5GXAjW2VAV9KFfSfgJpk+w4yXhwoqwl5AIGwp4RPgdK3XNHD2ETYiwe6nUa18f5jYSxle4vulw7/EtoCdzvqkPv3bn7M0eYbc7xFPXzqCrRCgH0Hsm/IjgTSb04W0i7EGjz+xw+wR6oZ1MnJ9TWrtToEx+4QfcZJ5X6tnhw+nhvqebdVhZUJX/oFcKvaTotUcvUnY188ue/n38AunzPPE8yg7bAAAAAElFTkSuQmCC">
      </a>
    </div>
      <ul class="nav navbar-nav navbar-right">
            <li><a href="tel:1231000000" class="navbar-link"><span class="glyphicon glyphicon-earphone"></span> +1 (123) 100-0000</a></li>
            <li><a href="#" class="navbar-link"><span class="glyphicon glyphicon-chevron-down"></span> Get in touch</a></li>
          </ul>
  </div>
</nav>
<!-- Content -->
<div class="story">
<form class="inline" name="qtfrm" onsubmit="return false;">
<p>My zipcode is <input name="zip" ng-model="zip" type="number" size=5 ng-min="501" ng-max="99999" required></p>
<p ng-show="qtfrm.zip.$valid">
  and I'd like to cover 
  <select name="coverage" ng-model="coverage" ng-minlength="6" required>
    <option ng-show="qtfrm.coverage.$pristine"></option>
    <option value="1">myself</option>
    <option value="2">myself and my spouse</option>
    <option value="3">myself, my spouse, and my kids</option>
    <option value="4">myself and my kids</option>
  </select>
  .<br>
</p>
<!-- AGE -->
<p ng-show="qtfrm.coverage.$dirty">
  I am 
  <input name="age" ng-model="age" type="number" ng-min="18" ng-max="200" size=2 required>
   years old
</p>
<p class="warning" ng-show="qtfrm.age.$error.min">(You must be 18 or older)</p>
<p class="warning" ng-show="qtfrm.age.$error.max">(I find that hard to believe)</p>

<!-- SPOUSE_AGE -->
<p ng-show="(coverage==2 || coverage==3) && qtfrm.age.$valid">
  , and my spouse is 
  <input name="spouse_age" ng-model="spouse_age" type="number" ng-min="18" ng-max="200" size=2 required>
   years old.
</p>
<p class="warning" ng-show="qtfrm.spouse_age.$error.min">(Your spouse must be 18 or older)</p>
<p class="warning" ng-show="qtfrm.spouse_age.$error.max">(I find that hard to believe)</p>
<br>

<!-- KIDS_COUNT -->
<p ng-show="(coverage==4 && qtfrm.age.$valid) || (coverage==3 && qtfrm.age.$valid && qtfrm.spouse_age.$valid)">
I have <input name="kids_count" ng-model="kids_count" type="number" size=2 ng-min="1" ng-max="100" required> kids
</p>
</form>
<!-- KIDS_AGE -->
<form class="inline" name="kidfrm" ng-model="kidfrm" onsubmit="return false;">
<p class="inline" ng-show="qtfrm.kids_count.$valid && ((coverage==4 && qtfrm.age.$valid) || (coverage==3 && qtfrm.age.$valid && qtfrm.spouse_age.$valid))">
   who are
  <div class="inline" ng-repeat="n in range(1,kids_count,'kid')" ng-show="qtfrm.kids_count.$valid && ((coverage==4 && qtfrm.age.$valid) || (coverage==3 && qtfrm.age.$valid && qtfrm.spouse_age.$valid))">
    <p ng-if="$last">and </p>
    <input name="kid{{n}}" ng-model="kidagen" type="number" ng-min="1" ng-max="18" size=2 required>
    <p ng-if="!$last">, </p>
    <p ng-if="$last">.</p>
  </div>
</p>
</form>

<br>

<!-- HOUSEHOLD-SIZE -->
<div ng-show="qtfrm.coverage.$dirty && qtfrm.age.$valid && 
  (
        coverage==1
    || (coverage==2 && qtfrm.spouse_age.$valid)
    || (coverage==3 && qtfrm.spouse_age.$valid && qtfrm.kids_count.$valid && kidfrm.$dirty && kidfrm.$valid)
    || (coverage==4 && qtfrm.kids_count.$valid && kidfrm.$dirty && kidfrm.$valid)
  ) ">
  <p ng-if="coverage==1">There is</p>
  <p ng-if="coverage!=1">There are</p>
  <p class="num_input" contentEditable="true" name="household_size" ng-model="household_size">{{ household_count(coverage,kids_count) }}</p>
  <p ng-if="coverage==1">person in my household.</p>
  <p ng-if="coverage!=1">people in my household.</p>
   <br>
  <button id="btn" class="btn btn-default btn-lg">Get Quote</button>
</div>
</div>
<span id="error_text" style="font-weight:bold;color:red;"></span>

</body>
</html>